# Frontend Environment Variables
NEXT_PUBLIC_API_URL=https://nets-web-backend.onrender.com/api/v1
VITE_API_URL=https://nets-web-backend.onrender.com/api/v1
VITE_PAYSTACK_PUBLIC_KEY=pk_live_744369c487505db8ecdde2f521781cfce2993ca2
